<template>
  <h4>PRATEEKSHA</h4>
  <div v-if="data">
    <ul>
      <li v-for="item in data" :key="item.id">
          {{ item.name }} 
      </li>
    </ul>
    <!-- <pre>{{ JSON.stringify(data, null, 2) }}</pre> -->
  </div>
</template>

<script setup>
import { ref } from 'vue';
const data = ref(null);

const ApiUrl = "http://site1.local:8000/api/v2/document/Vehicle";

fetch(ApiUrl, {
  method: "GET",
  headers: {
    "Content-Type": "application/json",
    "Authorization": "token 483ee347c0fa0f9:427b7da01019459", // Replace with valid API key
  },
})
.then((d)=> d.json())
.then((msg) => {
  // data.value = msg;
  data.value=msg.data;
})

</script>


